<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>TempLogger</title>
</head>
<body>
<h1>This app is in ruby using sinatra.</h1>
<h1>you are at IP:PORT</h1>
<h1>To view sensors use IP:PORT/SENSOR_NAME</h1>
<h3>Made By Geo</h3>
</body>
</html>

